body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CAE9FF;
    color: #1B4965;
    line-height: 1.6;
    padding: 20px;
}

.navbar {
    background: linear-gradient(to right, #1B4965, #62B6CB );
    padding: 0 20px;
    border-bottom: 4px solid #1B4965;
    box-shadow: 0px 4px 2px rgb(0,0,0,0.1);
    display: flex;
    justify-content: space-between; /*Spaces out items evenly*/
    align-items: center;
    position:absolute;
    width: 92%;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    color: #CAE9FF;
    text-shadow: 5px;
}

.navbar-right {
    display: flex;
    gap:20px; /*Add space between the links*/
}

.navbar a {
    text-decoration: none;
    color: #BEE9E8;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    text-align: left;
}

.navbar a:hover {
    color: #1B4965;
    transition: color 0.3s;
}

ul {
    list-style: none;
}

/*Styling the sidebar*/
.sidebar {
    margin-top: 100px;
    width: 100px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #CAE9FF;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 5px;
}

.sidebar a:hover {
    color: #1B4965;
    transition: color 0.3s; 
}

.profile .button {
    display:inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    background-color: #62B6CB;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile .button:hover {
    color: #1B4965;
}

/*styling the main content*/
.main-content {
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    margin-right: 150px;
}

.main-content p {
    text-align: justify;
    font-size: larger;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 4px solid #1B4965;
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
    width: 120px;
    height: 60%;
    margin-right: 20px;
}

/*Styling the contact me */
#contact {
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    color: white;
    background-color: #1b4965;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}


#contact input, #contact textarea {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
    font-size: 15px;
}
#contact button {
    background-color: #BEE9E8;
    color: black;
    margin: 10px 0;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

#contact button:hover{
    background-color:#159795;
}

#contact button:hover {
    background-color: #62B6CB;
    box-shadow: 0 3px #CAE9FF;
    transform: translateY(4px);
}

footer {
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    background-color: #62B6CB;
    text-align: center;
    border-style: solid;
}

/*line before footer*/
.line {
    width: 100%;
    height: 3px;
    background-color: #1B4965;
    margin: 40px 0; /*Add space around the line */
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-socials ul li {    /*relational selector*/
    margin: 0;
}

.footer-socials li a {
    font-size: 20px;
    transition: color 0.3 ease; /*transistions*/
}

/*change the color when hovering*/

.footer-socials  a:hover {
    color: #1B4965;
}

.footer-socials a.footer-email{
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
    text-decoration: none;
    color: #62B6CB;
    transition: color 0.3 ease; /*transistions*/
}

/*styling the back to the top link*/
.top {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #194493;
    color: antiquewhite;
    border-radius: 10px;
    text-decoration:none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*Animation: bounce effect on hover*/
.top:hover {
    background-color: #1B4965; 
    transform: translateY(-5px) scale(1.1); /* Button "jumps" up slightly */
}

/* Add an animated bounce effect when the button is loaded */
.back-to-top {
    animation: bounce 1s infinite alternate;
}

/*Styling the about me page*/
.About-me {
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    margin-right: 150px;
    font-size: x-large;
} 

.About-me p {
    text-align: justify;
}

/*Styling the about me links*/
.About-me p a{
    transition: color 0.3 ease; /*transistions*/
    text-decoration: none; 
}

.About-me p a:hover{
    color: #5fb4e8;
}

/*Styling the Project.html*/

header {
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    margin-right: 150px;
}

.Blog-Post{
    margin-left: 120px;
    padding: 20px;
    margin-top: 80px;
    margin-right: 150px;
}

.Blog-Post p {
    text-align: justify;
    font-size: larger;
}

/*Styling the Gallery*/
.gallery{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    width: 180px;
    margin: 0 20px;
}

.gallery:hover {
    border: 1px solid rgb(88, 86, 86);
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.desc {
    padding: 5px;
    text-align: center;
    font-size: xx-small;
}

/*styling the reading time icon*/
.read-time{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 111, 109);
    font-size: 16px;
    display: inline;
}

.read-time .icon{
    margin-right: 5px;
    font-size: 16px;
}

.date{
    color: rgb(112, 111, 109);
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 15px;
    margin-right: 5px;

}

.Blog-Post a {
    font-size: 20px;
    transition: color 0.3 ease; /*transistions*/
    text-decoration: none;
}

/*change the color when hovering*/

.Blog-Post a:hover {
    color: #1B4965;
}

